/*
 * “Commons Clause” License, https://commonsclause.com/
 *
 * The Software is provided to you by the Licensor under the License,
 * as defined below, subject to the following condition.
 *
 * Without limiting other conditions in the License, the    grant of rights
 * under the License will not include, and the License does not grant to
 * you, the right to Sell the Software.
 *
 * For purposes of the foregoing, “Sell” means practicing any or all of
 * the rights granted to you under the License to provide to third parties,
 * for a fee or other consideration (including without limitation fees for
 * hosting or consulting/support services related to the Software), a
 * product or service whose value derives, entirely or substantially, from
 * the functionality of the Software. Any license notice or attribution
 * required by the License must also include this Commons Clause License
 * Condition notice.
 *
 * Software:    NLPCraft
 * License:     Apache 2.0, https://www.apache.org/licenses/LICENSE-2.0
 * Licensor:    Copyright (C) 2018 DataLingvo, Inc. https://www.datalingvo.com
 *
 *     _   ____      ______           ______
 *    / | / / /___  / ____/________ _/ __/ /_
 *   /  |/ / / __ \/ /   / ___/ __ `/ /_/ __/
 *  / /|  / / /_/ / /___/ /  / /_/ / __/ /_
 * /_/ |_/_/ .___/\____/_/   \__,_/_/  \__/
 *        /_/
 */

.bg-main-box {
    background: url(../../images/bg-mb-wrapper2.png) bottom center repeat-x #5483dd;

    #main-box {
        position: relative;
        z-index: 9;
        min-height: 300px;
        max-height: 300px;
        background: url(../../images/bg-main-box.jpg) bottom center no-repeat;

        a {
            color: #fff;
        }

        .banner {
            min-height: 300px;
            padding: 35px 0 0 40px;

            .nat-lang-itf {
                color: #fff;
                font-size: 60px;
                letter-spacing: 0.02em;
                font-weight: 500;
                font-family: CanaroBold, Helvetica, sans-serif;
            }

            .sub-title {
                color: #fff;
                font-size: 22px;
                font-weight: 200;
                margin-top: -5px;
                letter-spacing: 0.02em;
            }

            .sub-sub-title {
                color: #fff;
                margin-top: 40px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

@media (max-width: 1000px) {
    .bg-main-box #main-box .banner .nat-lang-itf {
        font-size: 45px;
    }
    .bg-main-box #main-box .banner {
        padding-top: 50px;
    }
}

@media (max-width: $min-width) {
    .bg-main-box #main-box .banner .nat-lang-itf {
        font-size: 35px;
    }
    .bg-main-box #main-box .banner .sub-title {
        font-size: 18px;
    }
    .bg-main-box #main-box .banner {
        padding-top: 70px;
    }
}

.main-section:after {
    position: absolute;
    bottom: -16px;
    left: 50%;
    z-index: 10;
    margin-left: -23px;
    width: 0;
    height: 0;
    border-top: 16px solid;
    border-right: 23px solid transparent;
    border-left: 23px solid transparent;
    content: "";
    -moz-transform: scale(.9999);
}

.main-section {
    .section-title {
        margin: 40px;
        font-size: 35px;
        letter-spacing: 0.02em;
        font-weight: 200;
        display: block;

        span {
            font-weight: 500;
        }
    }
}

#main-box:after {
    border-top-color: #ed8964;
}

#about-nlpcraft {
    background-color: #fff;

    &:after {
        border-top-color: #fff;
    }

    img#fig1 {
        padding: 60px;
    }

    img#fig2 {
        margin-left: 13px;
    }
}

#key-features {
    background-color: rgba(238,244,246,84);

    &:after {
        border-top-color: transparent;
    }
}