/*
 * “Commons Clause” License, https://commonsclause.com/
 *
 * The Software is provided to you by the Licensor under the License,
 * as defined below, subject to the following condition.
 *
 * Without limiting other conditions in the License, the    grant of rights
 * under the License will not include, and the License does not grant to
 * you, the right to Sell the Software.
 *
 * For purposes of the foregoing, “Sell” means practicing any or all of
 * the rights granted to you under the License to provide to third parties,
 * for a fee or other consideration (including without limitation fees for
 * hosting or consulting/support services related to the Software), a
 * product or service whose value derives, entirely or substantially, from
 * the functionality of the Software. Any license notice or attribution
 * required by the License must also include this Commons Clause License
 * Condition notice.
 *
 * Software:    NLPCraft
 * License:     Apache 2.0, https://www.apache.org/licenses/LICENSE-2.0
 * Licensor:    Copyright (C) 2018 DataLingvo, Inc. https://www.datalingvo.com
 *
 *     _   ____      ______           ______
 *    / | / / /___  / ____/________ _/ __/ /_
 *   /  |/ / / __ \/ /   / ___/ __ `/ /_/ __/
 *  / /|  / / /_/ / /___/ /  / /_/ / __/ /_
 * /_/ |_/_/ .___/\____/_/   \__,_/_/  \__/
 *        /_/
 */

.bg-main-box {
    background: url(../../images/bg-mb-wrapper2.png) bottom center repeat-x #7590c9;

    #main-box {
        position: relative;
        z-index: 9;
        min-height: 387px;
        background: url(../../images/bg-main-box.jpg) bottom center no-repeat;

        a {
            color: #fff;
        }

        h2 {
            margin: 60px 0 10px 0;
            padding: 0;
            color: #fff;
            font-size: 80px;
            letter-spacing: 0.012em;
            font-family: 'CanaroMedium', sans-serif;
        }

        .container {
            padding: 37px 15px;
            min-height: 387px;

            .sub-title {
                color: #fff;
                font-size: 25px;
                font-family: "Helvetica Neue", serif;
            }

            .sub-sub-title {
                color: #fff;
                margin-top: 80px;
            }
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.main-section:after {
    position: absolute;
    bottom: -16px;
    left: 50%;
    z-index: 10;
    margin-left: -23px;
    width: 0;
    height: 0;
    border-top: 16px solid;
    border-right: 23px solid transparent;
    border-left: 23px solid transparent;
    content: "";
    -moz-transform: scale(.9999);
}

.main-section {
    h3 {
        margin: 40px auto;
        font-size: 50px;
        font-weight: 100;
        letter-spacing: 0.02em;
        font-family: 'CanaroExtraLight', Arial, Helvetica, sans-serif;

        span {
            font-family: 'CanaroBook', sans-serif;
            font-weight: 500;
        }
    }
}

#main-box:after {
    border-top-color: #ed8964;
}

#talk-to-your-data:after {
    border-top-color: transparent;
}